body {
  font-family: sans-serif;
  margin: 0;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.add-todo-form {
  display: flex;
  margin-bottom: 20px;
}

.add-todo-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.add-todo-form button {
  padding: 10px 15px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.add-todo-form button:hover {
  background-color: #45a049;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: white;
  transition: background-color 0.3s;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #888;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item input[type="text"] {
  margin-right: auto;
}


.todo-item span {
  flex: 1;
}

.todo-item button {
  padding: 5px 10px; 
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.filter-tasks {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-tasks button {
  padding: 5px 15px;
  margin: 0 5px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-tasks button.active {
  background-color: steelblue;
  color: white;
}

.todo-item.dragging {
  opacity: 0.5;
  background-color: #f0f0f0;
}